$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';
@import "../../../node_modules/semantic-ui-sass/semantic-ui.scss";

.ui{
    &.input{
        width:100%;
    }
}



